:root {
  --primary-color: #A1181D;
  --secondary-color: #15191B;
  --light-primary-color: #A00A10;
  --dark-primary-color: #8D0409;
  --light-secondary-color: #1C282E;
  --light-gray: #F4F1F2;
  --medium-gray: #BFBFBF;
  --header-font-family: 'Josefin Sans', sans-serif;
  --body-font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-color);
}

h1, h2, h3, h4 {
  font-family: var(--header-font-family);
  line-height: 1.1;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
  display: block;
}

header.main-header {
  background-color: var(--primary-color);
  position: relative;
  z-index: 2;
}

ul {
  margin-left: 1rem;
}

.logo-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-gray);
}

.logo img {
  width: 180px;
  height: auto;
  padding: 2rem 0;
}

nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

ul.mainmenu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--header-font-family);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button.menu-toggle {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
  background-color: transparent;
  appearance: none;
  border: 0;
  outline: 0;
  transform: rotate(0deg);
  transition: all .15s ease-in-out;
  cursor: pointer;
}

button.menu-toggle span {
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 4px;
  background-color: var(--light-gray);
  position: absolute;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

button.menu-toggle span:nth-child(1) {
  top: 0;
}

button.menu-toggle span:nth-child(2), button.menu-toggle span:nth-child(3) {
  top: 12px;
}

button.menu-toggle span:nth-child(4) {
  top: 24px;
}

button.menu-toggle.open span:nth-child(1),
button.menu-toggle.open span:nth-child(4) {
  top: 12px;
  width: 0;
  left: 50%;
}

button.menu-toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}

button.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (max-width: 865px) {
  ul.mainmenu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    border-bottom: 8px solid var(--secondary-color);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-8px);
    transition: all 0.15s ease-in-out;
  }
  button.menu-toggle {
    display: block;
  }
  ul.mainmenu.visible-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

ul.mainmenu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.mainmenu li a {
  color: var(--light-gray);
  text-decoration: none;
  display: block;
  padding: 34px 2rem;
}

ul.mainmenu li:hover a {
  background: var(--dark-primary-color);
}

[aria-current="page"] {
  background: var(--dark-primary-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 505px ) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main-hero {
  background-image: url("../img/st-louis-therapy.jpg");
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.75rem solid var(--secondary-color);
  color: var(--light-gray);
}

.main-hero h1 {
  font-size: clamp(3rem, 4vw, 4rem);
}

.main-hero h2 {
  font-size: clamp(2rem, 3vw, 3rem);
}

.about-hero {
  background-color: var(--light-gray);
  background-image: radial-gradient(var(--light-gray), var(--medium-gray));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1065px) {
  .about-hero {
    overflow-x: hidden;
  }
}

.about-hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content-image {
  display: grid;
  grid-template-columns: 50ch 1fr;
}

@media screen and (max-width: 865px) {
  .about-hero .hero-content-image {
    margin-top: 4rem;
    display: block;
    text-align: center;
  }

  .about-hero .hero-image, .about-hero .hero-content {
    margin: auto;
  }

  .about-hero .hero-image img {
    width: 100%;
  }

}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  margin-top: 0;
}

.hero-content h2 {
  margin-bottom: 3rem;
}

.hide-on-desktop {
  display: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 445px) {
  .hero-content {
    text-align: center;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

a.primary-button, a.secondary-button {
  display: inline-block;
  padding: 0.75rem 3rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--light-gray);
  border: 2px solid var(--light-gray);
  white-space: nowrap;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

a.primary-button {
  background-color: var(--primary-color);
}

a.primary-button:hover {
  background-color: var(--dark-primary-color);
}

a.secondary-button {
  background-color: var(--secondary-color);
}

a.secondary-button:hover {
  background-color: var(--light-secondary-color);
}

.home-services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.service {
  width: 100%;
  display: grid;
  grid-template-rows: 150px 1fr;
}

.service-image {
  overflow: hidden;
  border-radius: 0.5rem;
}

.service-image img {
  height: 120%;
  width: auto;
  object-fit: cover;
  object-position: center center;
}

.service-content h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: 0.5rem 0;
}


@media screen and (max-width: 1250px) {
  .home-services {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
  }
}

@media screen and (max-width: 780px) {
  .home-services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 445px) {
  .home-services {
    grid-template-columns: 1fr;
  }
}

.footer-banner {
  background-image: url("../img/footer-banner.jpg");
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 0.5rem solid var(--secondary-color);
}

.footer-banner p {
  max-width: 60ch;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--light-gray);
  font-size: 1.2rem;
  margin-top: 6rem;
}

.footer-banner .buttons {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
  justify-content: center;
}

footer {
  background-color: var(--light-secondary-color);
  color: var(--light-gray);
  border-top: 0.5rem solid var(--light-primary-color);
}

.inner-footer {
  display: grid;
  grid-template-columns: 250px 120px 1fr auto;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-about {
  max-width: 250px;
}

.footer-navigation {
  max-width: 200px;
}

@media screen and (max-width: 1035px) {
  .inner-footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 505px) {
  .inner-footer {
    grid-template-columns: 1fr;
  }
}

.footer-about p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.inner-footer h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.inner-footer ul {
  padding-left: 0;
}

.inner-footer li {
  padding: 0.5rem 0;
}

.inner-footer a {
  color: var(--light-gray);
  text-decoration: none;
  display: inline-block;
}

.inner-footer img.payment-methods {
  width: 90%;
  margin-top: 2rem;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--light-gray);
}

.seals {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.seal {
  width: auto;
  height: 6rem;
}

.seal img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  mix-blend-mode: multiply;
}