$button_width: 30px;
$button_height: 20px;

button.menu-toggle {
  display: none;
  width: $button_width;
  height: $button_height;
  position: relative;
  background-color: transparent;
  appearance: none;
  border: 0;
  outline: 0;
  transform: rotate(0deg);
  transition: all .15s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    width: $button_width;
    height: calc($button_height/10);
    border-radius: calc($button_width/10);
    background-color: $light-gray;
    position: absolute;
    left: 0;
    transform: rotate(0deg);
    transition: .15s ease-in;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      top: calc($button_height/2 - $button_height/10/2);
    }

    &:nth-child(4) {
      bottom: 0;
    }
  }

  &.open {
    span {
      &:nth-child(1), &:nth-child(4) {
        opacity: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }
  
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  @media screen and (max-width: 865px) {
    display: block;
  }
}