---
layout: mainLayout
---

<div class="main-hero">
  <div class="container">
    <div class="hero-content">
      <h1>{{ about.slogan }}</h1>
      <h2>{{ about.slogan2 }}</h2>
      {% include 'buttons.njk' %}
    </div>
  </div>
</div>

<div class="home-services container">
  {% for service in servicesList %}
    <a href="/services#{{ service.slug }}" class="service">
      <div class="service-image">
        <img src="/img/{{ service.image }}" alt="{{ service.title }}">
      </div>
      <div class="service-content">
        <h4>{{ service.title }}</h4>
      </div>
    </a>
  {% endfor %}
</div>
