---
layout: mainLayout
---

<div class="main-hero">
  <div class="container">
    <div class="hero-content">
      <h1>Therapeutic & Consulting Services</h1>
      <h2>Greater St. Louis Area</h2>
      {% include 'buttons.njk' %}
    </div>
  </div>
</div>

<div class="home-services container">
  {% for service in servicesList.services %}
    <div class="service">
      <div class="service-image">
        <img src="/img/{{ service.image }}" alt="{{ service.title }}">
      </div>
      <div class="service-content">
        <h3>{{ service.title }}</h3>
      </div>
    </div>
  {% endfor %}
</div>