<div class="about-hero">
  <div class="container hero-content-image">
    <div class="hero-content">
      <h1>{{ about.name }}</h1>
      <p>
        {{ about.description }}
      </p>
    </div>
    <div class="hero-image">
      <img src="/img/dr-kimberly-barragan.png" alt="Dr. Kimberly Barragan LCSW, DSW">
    </div>
  </div>
</div>