<div class="container seals">
  <div class="seal"><img src="/img/capella-university.png" alt="Capella University Seal"></div>
  <div class="seal"><img src="/img/university-of-missouri.png" alt="University of Missouri Seal"></div>
  <div class="seal"><img src="/img/tarleton-state-university.png" alt="Tarleton State University Seal"></div>
  <div class="seal"><img src="/img/msu-logo.png" alt="Missouri State University Seal"></div>
  <div class="seal"><img src="/img/abcsw-logo.png" alt="American Board of Clinical Social Work"></div>
  <div class="seal"><img src="/img/seal-of-missouri.png" alt="Seal of Missouri"></div>
  <div class="seal"><img src="/img/seal-of-alabama.png" alt="Seal of Alabama"></div>
</div>