<p>Dr Kimberly Barragan earned her doctoral degree in Social Work from Capella University, a Master's Degree in Social Work from the University of Missouri-St. Louis and obtained her bachelor's degree in Criminal Justice with a minor in Psychology from Tarleton State University. She is a board certified as Diplomate in Clinical Social Work from the American Board of Clinical Social Work and a Licensed Clinical Social Worker in the State of Missouri and Alabama.</p>

<img src="/img/st-louis-1.jpg" alt="St Louis Missouri from the river.">

<p>Her experience includes working in a variety of inpatient and outpatient settings, including a youth residential facility, outpatient community mental health clinic, a VA hospital, military treatment facilities and Air National Guard Post. She has experience helping children, adolescents, adults and the elderly population, in addition to treating active duty, National Guard, Reserves and veteran population and their families. She has a vast experience helping people with a wide range of presenting issues included but not limited to depression, anxiety, grief/loss, trauma and post-traumaFc stress, intimate partner violence, child abuse and neglect, multicultural identity and acculturative stress, occupational stress and interpersonal/relationship issues among others.</p>

<img src="/img/st-louis-2.jpg" alt="St Louis Missouri aerial view.">

<p>Her overall approach to therapy incorporates various treatment modalities which focus on collaborating with each client to achieve their goals, establish overall needs and respectfully address their concerns. These treatment modalities include Prolonged Exposure Therapy, Integrative Behavioral Couples Therapy, Cognitive Behavioral Therapy, Motivational Interviewing as well as other evidence based treatments. She is a certified Prolonged Exposure therapist, supervisor and Trainer by the Center for the Treatment and Study of Anxiety (CTSA) at the University of Pennsylvania. She is also a certified Integrative Behavioral Couples Therapist.</p>

<img src="/img/note-taking.jpg" alt="Woman taking notes">

<p>She is currently teaching a course in Cultural Diversity as a Per Course Professor for the School of Social Work at Missouri State University. As a Hispanic woman, She is fully bilingual and can provide therapeutic services in Spanish and English.</p>

<img src="/img/workshops-2.jpg" alt="Woman giving a speech at conference.">
