<header class="main-header">
  <div class="container logo-navigation">
    <div class="logo">
      <a href="/">
        <img src="/img/TenTenTherapy-Header-Logo.svg" alt="TenTenTherapy Logo">
      </a>
    </div>
    {% include 'navigation.njk' %}
  </div>
</header>