<div class="contact-us-form">
  <form
    name="newsletter"
    id="newsletter-form"
    data-netlify="true"
    data-netlify-recaptcha="true"
    netlify-honeypot="important-field"
  >
    <label for="your-name">
      Your name
      <input
        type="text"
        name="your-name"
        id="your-name"
        placeholder="Please type your full name."
        required
      >
    </label>
    <label for="your-email">
      Your email
      <input
        type="email"
        name="your-email"
        id="your-email"
        placeholder="Your email"
        required
      >
    </label>
    <label for="years" class="important-input">
      How many years have you been speaking English?
      <input type="text" name="important-field" id="years">
    </label>
    <label for="months" class="important-input">
      How many months have you been speaking English?
      <input type="text" name="important-field" id="months">
    </label>
    <div data-netlify-recaptcha="true" class="mb1"></div>
    <button type="submit" class="mt1">Submit</button>
  </form>
</div>