---
layout: mainLayout
title: Intensive Workshop in Prolonged Exposure Therapy for Posttraumatic Stress Disorder (PTSD) at Casa de Salud
permalink: "/workshops/intensive-workshop-in-prolonged-exposure-therapy-for-posttraumatic-stress-disorder-ptsd-at-casa-de-salud.html"
---

<div class="workshops-hero">
  <div class="container">
    <div class="workshops-inner-hero">
      <h1>{{ title }}</h1>
      <p>Provide mental health professionals with an intensive Prolonged Exposure workshop to gain the skills and knowledge on how to utilize Prolonged Exposure Therapy to treat trauma survivors within their respective practices, organizations and community.</p>
    </div>
  </div>
</div>

<div class="workshop-content container">
  <p><img class="content-image float-left" src="/img/casa-de-salud-logo.png" alt="Casa de Salud Logo"><strong>1010 Consulting and Therapeutic Services, LLC</strong> is proud to announce our partnership with nonprofit Casa de Salud, a leading nonprofit delivering health care for the immigrant and refugee community of St. Louis Missouri.  A portion of the proceeds from this workshop will be donated to Casa de Salud. </p>
  <p><strong>Workshop Goal</strong>: The overall goal for this workshop is to provide mental health professionals with an intensive Prolonged Exposure workshop to gain the skills and knowledge on how to utilize Prolonged Exposure Therapy to treat trauma survivors within their respective practices, organizations and community. The workshop will cover the fundamental components of Prolonged Exposure Therapy and how to adjust PE techniques to provide treatment based on the client’s reaction to exposure. The workshop will help social workers maintain focus on providing PTSD treatment concurrently/remaining flexible while following the therapy manual. The workshop presenter will utilize lectures, discussions, demonstration of videotape therapy sessions and role-playing with feedback to achieve the objectives for the workshop.</p>
  <p><strong>Who can attend</strong>:  Licensed mental health professionals (Social Workers, Psychologist, Professional Counselors, Marriage and Family Therapist) or those working under a licensed mental health professional. Because of the advanced nature of this workshop and the limited enrollment, participants should have prior experience treating trauma survivors.</p>
</div>